.lend{
    background: linear-gradient(250.27deg, rgba(217, 160, 255, 0.2) 6.9%, rgba(251, 245, 255, 0.2) 28.73%), linear-gradient(327.07deg, rgba(63, 164, 240, 0.2) 8.43%, rgba(234, 246, 255, 0.098) 41.85%), linear-gradient(59.49deg, rgba(231, 199, 71, 0.2) 6.35%, rgba(255, 251, 239, 0.2) 28%), #F3F0FA;
}

.stats-container{
    padding: 25px 0;

    h1{
        margin-bottom: 26px;
    }
}